$green: #54D618;
$white: #fff;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.user-card {
  height: 500px;
  width: 355px;
  margin-top: auto;
  margin-bottom: auto;
  background: $white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.brand-logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.login-btn {
  width: 100%;
  background: $green !important;
  color: white !important;
}

.login-btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login-container {
  padding: 0 2rem;
}

.input-group-text {
  background: $green !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input-user,
.input-pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: $green !important;
}

.custom-control-label {
  position: relative;
  vertical-align: top;
  margin-left: 42px;
}

.custom-switch {
  padding-left: 1rem !important;
}
